.header__title {
    display: flex;
    margin: 0 auto 0 64px;
    align-items: center;
    max-width: 730px;
    width: 100%;
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
    z-index: 2;
  }