.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  background-size: contain;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  margin: 0 auto 0 64px;
  align-items: center;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  margin: 0 auto 0 auto;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  margin: 0;
  width: 765px;
  height: 608px;
  object-fit: contain;
  object-position: right bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  display: flex;
  position: absolute;
  right: 0;
  top: 64px;
}

.content {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
}

.two-columns {
  width: 80%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two-columns__brief {
  margin: 0 auto 0 auto;
  width: 175px;
  align-self: stretch;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;

}

.two-columns__main-text {
  /*задаем положение 2 колонки*/
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}

.two-columns__paragraph {
  margin: 0 auto 30px auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.digits {
  /*задаем положение данных на странице*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  /*задай положение заголовка*/
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 100px auto 20px auto;
}

.section-subtitle {
  /*задай положение подзаголовка*/
  width: 60%;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px auto;
}

.table__cell {
  /*ячейка таблицы*/
  width: 250px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}


.table__heading {
  /*задай стиль заголовка таблицы*/
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.table__text {
  /*задай стиль текста таблицы*/
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0 0 0;
}

.feynman {
  /*задай параметры фона*/
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
}

.feynman__title {
  /*задай положение заголовка*/
  width: 648px;
  margin: 0 auto 70px auto;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle {
  /*задай положение подзаголовка*/
  display: inline-block;
  margin: 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  margin: 0 auto 0 auto;
  padding-left: 0;
  text-align: end;
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
  position: absolute;
  right: -210px;
  z-index: -1;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}

.section-title_theme_dark {
  color: #fff;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  margin: 0;
  position: relative;
  display: flex;
}

.footer__columns {
  width: 90%;

  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px auto 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #fff;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  margin: 0 0 20px 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 0 auto 16px auto;
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  margin: 0 auto 0 auto;
  padding-left: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

